@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes square {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #656565, #454545, #252525);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.box .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

.box .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
}

.box .square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.box .square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: -95px;
}

.box .square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
}

.box .square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
}

.container {
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    width: 18rem;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.container::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0% rgba(255, 255, 255, 0.1%) 2%);
}

.signup-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.signup-form h2 {
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.signup-form .input {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.signup-form .input input {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    border-radius: 2px;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.signup-form .input .password-control {
    position: absolute;
    top: 11px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    color: #fff;
}

.signup-form .input .view {
    transition: 0.5s;
}

.signup-form .input .fas {
    position: absolute;
    top: 13px;
    left: 13px;
}

.signup-form .signup-btn {
    position: relative;
    background: rgb(255, 255, 255, 0);
    border: 2px solid white;
    z-index: 1;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}

.signup-form .signup-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    background-image: linear-gradient(315deg, white 0%, white 74%);
    box-shadow:
        inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: -1;
}

.signup-form .signup-btn:hover {
    color: #000;
}

.signup-form .signup-btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.signup-form .signup-btn:active {
    top: 2px;
    position: relative;
}

.signup-form .input input::placeholder {
    color: white;
}

.signup-form .input span {
    position: absolute;
    left: 5px;
    padding: 10px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.signup-form .input input:focus~span,
.signup-form .input input:valid~span {
    transform: translateX(-30px) translateY(-25px);
    font-size: 12px;
    left: 20px;
}

.signup-form p {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    word-spacing: 3px;
}

.signup-form p a {
    color: #5aa0fa;
    text-decoration: none;
}
.already{
    margin-bottom: 1rem;
}

.signup-form p a:hover {
    background-color: #000;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    -webkit-background-clip: text;
    color: #264dff;
}

.back-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2rem;
    left: 3rem;
    background: #5aa0fa;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    color: #333;
    transition: transform 0.2s ease-in-out; 
}

.back-btn:hover {
    transform: scale(1.02);
}

.back-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 800;
}

@media (min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

.sig-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}